* {
  margin: 0;
  padding: 0;
}

//Menú 1
.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  height: 60px;
}

.menu-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  a {
    text-decoration: none;
    font-size: 30px;
    color: rgb(0, 162, 255);
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

//Menú 2
.sub-menu-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background:  rgb(0, 162, 255);
  height: 64px;
}

.sub-menu-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  a {
    text-decoration: none;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: Dekar;
  }
}

//Acordeón

.main-accordion-container {
  .accordion-item{
    background: #007e73;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4 px solid rgb(0, 255, 242);
    flex-direction: column;
    padding: 0 10px 0 10px;

    .accordion-desc {
      display: none;
      background: rgb(0, 0, 0);
      padding: 15px;
      margin-top: 15px;
      width: 90%;
      font-size: 30px;
      color: #007e73;
      font-family: Dekar;
    }
    .accordion-title {
      color:rgb(255, 255, 255);
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      font-size: 20px;
      width: 90%;
      display: flex;
      justify-content: center;
      padding: 20px;
      text-decoration-color: rgba(0, 255, 213, 0.918);
    }
    &.tab-active {
      .accordion-desc {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
      }
    }
  }
}
// Fin del acordeón

// Inicio de main

main{
  display: flex;
  border: 3px solid rgb(0, 204, 255);
  background: linear-gradient(to right, #0079be, #00346e, #000000);

  .container-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    color:cyan;

.text-container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
    p { //p significa texto
      text-align: justify;
      width: 85%;
      padding-bottom: 20px;
      padding-top: 10px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  }
  .container-1-img2 {
    img {
      max-width: 380px;
      max-height: 280px;
      display: block;
      border-left: 2px black;
      border-right: 2px black;
      border-radius: 10px;
      &:hover {
        transform: rotate(1deg) scale(1.05) translateX(-30px) translateY(-30px);
      }
    }
  }
}
}

//Fin de main

//Inicio de cards
.card-list {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
  background-color: rgb(0, 43, 78);
.card-item {
  width: 30%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-bottom: 10px;
  box-shadow: 2px 2px 11px -1px black;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background: linear-gradient(to right, #00a2ff, #0051ff, #007377);
  color: #FFFFFF;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 150%;
    margin-bottom: 10px;
    max-height: 250px;
    min-height: 250px;
    display: flex;
  }

  .card-title {
    font-size: 22px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
  }

  .card-info {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    justify-content: space-around;
  }

  .card-desc {
    font-family: Dekar;
    font-size: 18px;
  }

  .card-cta {
    text-decoration: none;
    display: block;
    text-align: right;
    font-family: 'Helvetica';
    font-size: 12px;
    border-top: solid 1px black;
    padding-top: 10px;
    margin-top: 30px;
  }
}
}
// Fin de cards

.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgb(0, 0, 0);
  height: 80px;

  .footer-list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  p{
    text-decoration: none;
    color: rgb(0, 153, 255);
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    justify-content: center;
  }
  }

  .footer-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    //padding-right: 570px;
    align-items: center;
    p{
    text-decoration: none;
    font-family: Dekar;
    color: white;
    font-size: 16px;
    align-items: center;
    }
  }
}


@media (max-width: 1250px) {
  // Inicio de main

main{
  display: flex;
  border: 3px solid black;
  background-color: rgb(0, 204, 255);

  .container-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

.text-container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10 px;
  h3{
    font-size: 40px;
    padding-top: 20px;
  }
    p { //p significa texto
      text-align: justify;
      width: 85%;
      padding-bottom: 20px;
      padding-top: 10px;
      font-size: 22px;
    }
  }
  .container-1-img {
    img {
      max-width: 400px;
      max-height: 100%;
      display: block;
      border-left: 2px black;
      border-right: 2px black;
      border-radius: 10px;
      &:hover {
        transform: scale(1.05);
      }
    }

    .container-1-img2 {
      img {
        max-width: 400px;
        max-height: 100%;
        display: block;
        border-left: 2px black;
        border-right: 2px black;
        border-radius: 10px;
  }
}
.container-1-img3 {
  img {
    max-width: 400px;
    max-height: 100%;
    display: block;
    border-left: 2px black;
    border-right: 2px black;
    border-radius: 10px;
}
}
  }
  }

//Fin de main
}
}

@media (max-width: 991px){
  .menu-container{
    display: flex;
    padding: 0 15px;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    .menu-list{
      display: none;
    }

    .hamburger-icon {
      width: 35px;
      height: 25px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;


      span{
        height: 4px;
        width: 100%;
        background: white;
        display: block;
        border-radius: 2px;

      }
    }
  
    
  }
   
//Inicio Esta clase afecta cuando se la da click al hamburger Icon
  .menu-container.menu-open{
    .menu-list{ 
      z-index: 100;
      border: 2px solid black;
      width: 200px;
      padding-top: 120px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: left;
      text-align: center;
      background-color: #686a75;
      border-radius: 5px;
      a{
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
//Fin Esta clase afecta cuando se la da click al hamburger Icon


//Inicio Esta clase afecta al sub menu
.sub-menu-container{
  display: flex;
  padding: 0 15px;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  .sub-menu-list{
    display: none;
  }

  .sub-hamburger-icon {
    width: 35px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;


    sub-span{
      height: 5px;
      width: 100%;
      background: rgb(0, 0, 0);
      display: block;
      border-radius: 10px;

    }
  }
//Esta clase afecta el submenu 
}

//inicio esta clase afecta cuando se le da click al sub hamburger Icon
  .sub-menu-container.sub-menu-open{
  align-items: baseline;
  padding-right: 30px;
  .sub-menu-list{
    z-index: 100;
    border: 2px solid black;
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: right;
    text-align: center;
    background-color: #aab2dd;
    border-radius: 5px;
    a{
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  }

//Inicio de cards
.card-list {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;

.card-item {
  width: 45%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-bottom: 10px;
  box-shadow: 2px 2px 11px -1px black;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background: linear-gradient(to right, #00a2ff, #0051ff, #007377);

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    margin-bottom: 10px;
    max-height: 250px;
    min-height: 250px;
    display: flex;
  }

  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .card-info {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    justify-content: space-around;
  }

  .card-desc {
    font-family: Dekar;
    font-size: 20px;
  }

  .card-cta {
    text-decoration: none;
    display: block;
    text-align: right;
    font-family: 'Helvetica';
    font-size: 12px;
    border-top: solid 1px black;
    padding-top: 10px;
    margin-top: 30px;
  }
}
}
// Fin de cards

}

@media (max-width: 701px){
  //Inicio de cards
.card-list {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;

.card-item {
  width: 45%;
  height: 400px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-bottom: 10px;
  box-shadow: 2px 2px 11px -1px black;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background: linear-gradient(to right, #00a2ff, #0051ff, #007377);

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    margin-bottom: 10px;
    max-height: 150px;
    min-height: 150px;
    display: flex;
  }

  .card-title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Helvetica';
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .card-info {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    justify-content: space-around;
  }

  .card-desc {
    font-family: Dekar;
    font-size: 16px;
  }

  .card-cta {
    text-decoration: none;
    display: block;
    text-align: right;
    font-family: 'Helvetica';
    font-size: 12px;
    border-top: solid 1px black;
    padding-top: 10px;
    margin-top: 30px;
  }
}
}
// Fin de cards
}

@media (min-width: 501px){
  .main-header{
    height: 400px;
    width: 100%;
    background: url(https://designbyflux.com.au/wp-content/uploads/2016/08/LinkedIn.png) no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background:#00000061;
    }

    &:before {
      content: '';
    }

    .main-page-title {
      color:rgb(255, 255, 255);
      font-family: Bebas Neue;
      position: absolute;
      z-index: 1;
      font-size: 80px;
      text-align: center;
      -webkit-text-stroke: 2px rgb(0, 94, 131);
    }
  }
}

@media (max-width: 500px){
  .main-header{
    height: 400px;
    width: 100%;
    background: url(https://designbyflux.com.au/wp-content/uploads/2016/08/LinkedIn.png) no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background:#00000061;
    }

    &:before {
      content: '';
    }

    .main-page-title {
      color:rgb(255, 255, 255);
      font-family: Bebas Neue;
      font-weight: bold;
      position: absolute;
      z-index: 1;
      font-size: 70px;
      text-align: center;
      -webkit-text-stroke: 2px rgb(0, 94, 131);
    }
  }

//Inicio de cards
.card-list {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;

.card-item {
  width: 90%;
  height: 450px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-bottom: 10px;
  box-shadow: 2px 2px 11px -1px black;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background: linear-gradient(to right, #00a2ff, #0051ff, #007377);

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    margin-bottom: 10px;
    max-height: 250px;
    min-height: 250px;
    display: flex;
  }

  .card-title {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Helvetica';
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .card-info {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    justify-content: space-around;
  }

  .card-desc {
    font-family: Dekar;
    font-size: 18px;
  }

  .card-cta {
    text-decoration: none;
    display: block;
    text-align: right;
    font-family: 'Helvetica';
    font-size: 12px;
    border-top: solid 1px black;
    padding-top: 10px;
    margin-top: 30px;
  }

//Fin de cards

}
main{
  display: flex;
  border: 3px solid black;
  background-color: rgb(0, 204, 255);

  .container-1 {
    width: 100%;
    display: flex;
    align-items: center;

.text-container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
    p { //p significa texto
      text-align: justify;
      width: 85%;
      padding-bottom: 20px;
      padding-top: 10px;
    }
  }
  .container-1-img2 {
    img {
      max-width: 280px;
      min-width: Auto;
      max-height: 280px;
      min-height: Auto;
      display: block;
      border-left: 2px black;
      border-right: 2px black;
      border-radius: 10px;
      &:hover {
        transform: rotate(-2deg) scale(1.05) translateX(-40px);
      }
    }
  }
}
}
//Fin de Main
}
}

@media (max-width: 400px){
  //Inicio del Footer

.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgb(0, 0, 0);
  height: 120px;

  .footer-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    text-decoration: none;
    color: rgb(0, 153, 255);
    font-size: 16px;
  }
  }

  .footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
    text-decoration: none;
    font-family: Dekar;
    color: rgb(255, 255, 255);
    font-size: 15px;
    }
  }
}
//Fin del Footer
}
